<h1>Please Enter your Quotes</h1>

<div class="container">
    <div class="row">
        <app-quote-form (addQuote)="addNewQuotes($event, i)"></app-quote-form>
    </div>
    <div  *ngFor="let quote of Quotes;let i = 'index'">
        <!-- <div class="row"> -->
            <h4 id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h4>
           
        
        <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
        <div class="row" *ngIf="quote.showDescription">
            <app-quote-details [quote]='quote' (isComplete)= 'deleteQuote($event,i)' ></app-quote-details>
    </div>
</div>
</div>
    
<p *ngIf='Quotes.length > 5'>You have too many Quotes</p>
