.container-fluid{
    padding: 2px;
}
.form-group{
    padding: 20px;
    position: relative;
    right: -700px;
    font-size: 24px;
}
.btn-lg{
    color: blue;
    position: relative;
    right: -700px;
    padding: 10px;
    font-size: 20px;
}
label{
    color: brown;
}
