<div class="container-fluid">
    <div class="row">
        <form #goalForm='ngForm'>
            <!-- Name Form -->
            <div class="form-group">
                <label for="name">User's Name</label>
                <input type="text"  class="form-control" id="name" [(ngModel)]="newquote.name" name="name" #name="ngModel" required>
                
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <!-- <p> Name is Required</p> -->
                    
                </div>
            </div>
            <!-- Quote Input -->
            <div class="form-group">
                <label for="quote">Quote</label>
                <input type="text"  class="form-control" id="quote" [(ngModel)]="newquote.quote" name="quote" #name="ngModel" required>
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <!-- <p> Quote is Required</p> -->
                    
                </div>
                
            </div>
            <!-- Author Input -->
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text"  class="form-control" id="author" [(ngModel)]="newquote.author" name="author" #name="ngModel" required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <!-- <p> Author is Required</p> -->
                    
                </div>
                
            </div>
            <!-- Date Input -->
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" [(ngModel)]="newquote.completeDate" name="completeDate" #completeDate="ngModel" required >
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    <!-- <p> Complete Date is Required</p> -->
                    
                </div>
            </div>
            <button type="Submit" class="btn btn-success btn-lg">Add Quotes</button>
        </form>
    </div>
</div>